flat.sol 
smart-contracts/dETH/build/
artifacts/
smart-contracts/dETH/build/contracts/Common.json
smart-contracts/dETH2/build/

.fake
.ionide
.vs

bin/
obj/
smart-contracts/dETH2/contracts/block.json
smart-contracts/dETH2/tests/paket.lock
